---
title: "\"[Updated] 2024 Approved  How to Claim Facebook's Accredited, Elite Verification\""
date: 2024-05-20T19:16:11.557Z
updated: 2024-05-21T19:16:11.557Z
tags:
  - ai video
  - ai facebook
  - ai facebook video
categories:
  - ai
  - facebook
description: "\"This Article Describes [Updated] 2024 Approved: How to Claim Facebook's Accredited, Elite Verification\""
excerpt: "\"This Article Describes [Updated] 2024 Approved: How to Claim Facebook's Accredited, Elite Verification\""
keywords: "Facebook Verification Tips,Elite Status on FB Claims,Accredited FB Profile Steps,Secure FB Verified Accounts,Gain FB's Elite Privilege,Achieve FB Verified Identity,Obtain FB Blue Verification"
thumbnail: https://www.lifewire.com/thmb/lvNWt3CwrUk6MzsyzMdGZ79CtE0=/400x300/filters:no_upscale():max_bytes(150000):strip_icc()/Instagramhashtag-3841467b1a034d42be8b103a64f93b61.jpg
---

## How to Claim Facebook's Accredited, Elite Verification

# Facebook Verification: how to Verify Facebook Page Easily

![author avatar](https://images.wondershare.com/filmora/article-images/shannon-cox.jpg)

##### Shanoon Cox

 Mar 27, 2024• Proven solutions

Do you wish to create strong credibility for your brand online? From local businesses to huge brands, all can establish their credibility by getting verified on the Facebook platform. If you want your prospective clients to find you easily, appearing high on search results can work wonders.

But, how can you appear high on search results? Here comes the **Facebook verification**. Attaining the verified blue or grey badge can [prove your business to be trustworthy](https://visualcontenting.com/2016/11/29/difference-blue-gray-facebook-badges-theyre-important-business/) and show your page higher on the search results. Do you know how to get the blue and gray verified badge easily for your profile or page? Check out this article to know how to verify the Facebook page.

You may also like: [**12 Facebook Marketing Tips**](https://tools.techidaily.com/wondershare/filmora/download/) \>>

* [**Part 1: What is the Blue Verification Badge**](#part1)
* [**Part 2: How to Verify Facebook Page (Blue Badge)**](#part2)
* [**Part 3: How to Get Your Facebook Page Verified (Gray Badge)**](#part3)
* [**Part 4: Why Facebook Didn’t Give Verification to Me**](#part4)
* [**Part 5: 3 Tips to Get Facebook Verification**](#part5)

---

## Best video editor for Facebook - Filmora

Video plays an important part on Facebook if you want to get more likes and engagement. Don't know which video editor to use? Here we recommend using [Filmora](https://tools.techidaily.com/wondershare/filmora/download/). It is designed for beginners who want to edit Facebook videos easily. You can use it to make a high-quality video that can help you get Facebook verification quickly. Download it now to start making Facebook videos (free)! [Filmora Business](https://tools.techidaily.com/wondershare/filmora/download/) is also available to help you quickly make Facebook videos. You can use it to make an amazing product or brand video with a growing resource library.

* You can use it to change the aspect ratio for Facebook: 1:1, 16:9 and more
* Add various text/title templates to your video
* More than 300 filters/effects/overlays to use
* Export to Facebook video format directly

[![Download Win Version](https://images.wondershare.com/filmora/guide/download-btn-win.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)[Download Mac Version](https://images.wondershare.com/filmora/guide/download-btn-mac.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)

---

## Part 1: What is the Blue Verification Badge

The blue verification badge is a seal of your identity. It proves that your pages have a real identity and not fake. Facebook has [three kinds of verification](https://www.facebook.com/help/196050490547892?helpref=popular%5Ftopics) – grey tick pages, blue tick pages, and blue tick profiles.

**The grey tick Facebook pages** represent various organizations and companies that have been verified by Facebook and confirm their real identity.

**The blue tick Facebook pages and Facebook profiles** confirm the identity of the public figures, media, and brands as per their claim. The badge confirms their official pages.

Confirming your Facebook identity verification is important because [it’s a quick sign that your business, brand, or profile is doing well](https://www.weboptimizers.com.au/blue-tick-verification/) and deserve to earn a verifying sign. When your customers or any users check a verified sign on your page, they know that the page they are looking at is not fake. The page is not created by any fraud or fan and it is the real profile or page of a person or company. When the clients seek customer service, the verified Facebook pages show that the company is serious about its client relationship and social media marketing. It also helps your page to rank higher on Google search as well as Facebook search.

**Are you eligible**? [Facebook verification is not allowed for all](https://www.facebook.com/help/1288173394636262). As per the Support Team of Facebook, the verified badge is only available for famous businesses or brands, journalists, media, celebrities, Government officials, sports companies, and people related to the entertainment world. Are you under any of these categories? Then, follow the [Facebook terms of service](https://www.facebook.com/terms) you get a higher chance of being verified quickly.

## Part 2: How to Verify Facebook Page (Blue Badge)

If you want to apply the blue badge for an individual, you need to offer a government-issued photo ID. If you a business owner and want to do Facebook verification for your brand, you can offer utility bills and tax documents. In the end, you need to express your idea to let Facebook know why you want Facebook verification. Once, [all the required information about your business is filled in](https://www.facebook.com/help/contact/342509036134712), you are ready for applying the blue badge. Follow the four steps below to get your brand or profile verified.

### Step 1: Click page verification option

You can find a setting option on the Facebook page at the top. The Page Verification seal is then clicked from the General tab. Get started by clicking on the Verify this Page option.

![Fcebook page verifiation](https://images.wondershare.com/filmora/article-images/page-verifiation-facebook.JPG)

### Step 2: Get verification code

For a more detailed and quick verification process, you can ask the Facebook team to call you up at the registered number listed on your business Facebook page. A verification code enters the number listed and you just need to input it at the box space. Finally, Facebook offers with the verified seal after the process.

**Note**: It won't take much longer time to receive the verification code. In case you haven't receive the verification code after 24 hours, you can try sending **On** or **Fb** to 32665.

### Step 3: Upload the official document

When you pick the more detailed verification process, you need to click on the Verify this Page with Documents option. Then, you receive a prompt to upload the official documents that carried the name and address of the business. It helps in recognizing your page or profile. Finally, after receiving the documents verification request, Facebook confirms or denies it within 48 hours to 45 days timeframe.

![facebook verfication](https://images.wondershare.com/filmora/article-images/facebook-verfication.JPG)

## Part 3: How to Get Your Facebook Page Verified (Gray Badge)

It is so much easier to verify a business or company page, but still, there are preconditions to [get the gray badge](https://www.facebook.com/help/100168986860974/). If your business is in Local Business, Company, or Organization, you can apply for the Gray Badge. You can see the verification entrance in your Page’s Settings if you are an admin have the basic info about your company. You must have some of your business's official documents first like phone number and phone bill.

You need to go to Settings on your page. Then click **General** \> **Page Verification** \> **Verify this Page** \> **Get Started**. Here, you can enter your phone number. Click **Call Me Now**. After a while, you will receive the verification code. Now, enter the code and continue the verification process.

![How to Get Your Facebook Page Verified](https://images.wondershare.com/filmora/filmora-business/how-to-verify-facebook-page-gray-badge.jpg)

## Part 4: Why Facebook Didn’t Give Verification to Me

Facebook said verification can be accepted or rejected. The grey badge verification request takes around 48 hours and the blue badge verification request needs around 3 to 45 days to receive the Facebook response. In case, your verification request is rejected, it is due to the following reasons.

      * **Press releases or marketing is less** \- When your press is less, it is highly possible that your verification request is rejected as your business or page is not identified accurately. You must learn to get featured on Techcrunch, Forbes, etc. You can also [write a press release to get exposure](https://coschedule.com/blog/how-to-write-press-releases-examples-templates/). You may also hire my digital marketing agency for the same.
      * **Your Wikipedia is missing** \- In order to create a Wiki; you firstly require the high-quality press.
      * **Your identity proof is not up to the mark** \- When your reason for verification request is not very compelling or the ID provided by you is blurry or inappropriate, your request may get rejected.
      * **Missing Facebook Native Content** \- Facebook hates a dead page. So, it is important that your page is filled with relevant and great content for long.
      * **Verification is Strict** \- Facebook only verifies the popular pages and profiles easily if you can establish your popularity. It is very strict on who they verify.

## Part 5: 3 Tips to Get Facebook Verification

### 1\. Provide complete and detailed information

If you want to get verified, you need to fill out as much information as possible in order for the reviewing process is fast. You need to go to your about page to enter some information including phone number, email, company overview, address, and products. It is noted that you don't need to fill out all information as details are much more important.

### 2\. Professional Facebook page is needed

You don't want to give Facebook the impression that you are not professional with wrong info and an ugly page interface. The first thing you need to do is update the banner and then your logo as they are the first two things people would notice at first glance. Besides, you also need to remove low-quality images, poor articles, and posts. All in all, information centered with the brand is the symbol of a professional looking for getting Facebook verification.

![facebook verification blue and gray](https://images.wondershare.com/filmora/filmorapro/great-page-get-facebook-verification.jpg)

### 3\. Update your verification information

When Facebook reviews your account, it takes time to give you the blue badge. You need to provide the latest and detailed information to get a quick review. It is not important if your posts are engaging or how many likes you get. The most important thing is correct. If some info is wrong, the chance you get rejected is higher.

### Conclusion

Facebook blue or grey badge verification is a very important step to ensure your page appears in the top search results of the search engines and strengthen the trust of your clients. Besides, video is also an important factor to attract more likes and followers. If you want to edit Facebook video, try [Filmora](https://tools.techidaily.com/wondershare/filmora/download/) to start the journey! [Filmora](https://tools.techidaily.com/wondershare/filmora/download/) as a solution for quickly making the business video is also available. Check this video to learn more.

[![Download Win Version](https://images.wondershare.com/filmora/guide/download-btn-win.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)[![Download Mac Version](https://images.wondershare.com/filmora/guide/download-btn-mac.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)

![author avatar](https://images.wondershare.com/filmora/article-images/shannon-cox.jpg)

Shanoon Cox

Shanoon Cox is a writer and a lover of all things video.

Follow @Shanoon Cox

##### Shanoon Cox

 Mar 27, 2024• Proven solutions

Do you wish to create strong credibility for your brand online? From local businesses to huge brands, all can establish their credibility by getting verified on the Facebook platform. If you want your prospective clients to find you easily, appearing high on search results can work wonders.

But, how can you appear high on search results? Here comes the **Facebook verification**. Attaining the verified blue or grey badge can [prove your business to be trustworthy](https://visualcontenting.com/2016/11/29/difference-blue-gray-facebook-badges-theyre-important-business/) and show your page higher on the search results. Do you know how to get the blue and gray verified badge easily for your profile or page? Check out this article to know how to verify the Facebook page.

You may also like: [**12 Facebook Marketing Tips**](https://tools.techidaily.com/wondershare/filmora/download/) \>>

* [**Part 1: What is the Blue Verification Badge**](#part1)
* [**Part 2: How to Verify Facebook Page (Blue Badge)**](#part2)
* [**Part 3: How to Get Your Facebook Page Verified (Gray Badge)**](#part3)
* [**Part 4: Why Facebook Didn’t Give Verification to Me**](#part4)
* [**Part 5: 3 Tips to Get Facebook Verification**](#part5)

---

## Best video editor for Facebook - Filmora

Video plays an important part on Facebook if you want to get more likes and engagement. Don't know which video editor to use? Here we recommend using [Filmora](https://tools.techidaily.com/wondershare/filmora/download/). It is designed for beginners who want to edit Facebook videos easily. You can use it to make a high-quality video that can help you get Facebook verification quickly. Download it now to start making Facebook videos (free)! [Filmora Business](https://tools.techidaily.com/wondershare/filmora/download/) is also available to help you quickly make Facebook videos. You can use it to make an amazing product or brand video with a growing resource library.

* You can use it to change the aspect ratio for Facebook: 1:1, 16:9 and more
* Add various text/title templates to your video
* More than 300 filters/effects/overlays to use
* Export to Facebook video format directly

[![Download Win Version](https://images.wondershare.com/filmora/guide/download-btn-win.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)[Download Mac Version](https://images.wondershare.com/filmora/guide/download-btn-mac.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)

---

## Part 1: What is the Blue Verification Badge

The blue verification badge is a seal of your identity. It proves that your pages have a real identity and not fake. Facebook has [three kinds of verification](https://www.facebook.com/help/196050490547892?helpref=popular%5Ftopics) – grey tick pages, blue tick pages, and blue tick profiles.

**The grey tick Facebook pages** represent various organizations and companies that have been verified by Facebook and confirm their real identity.

**The blue tick Facebook pages and Facebook profiles** confirm the identity of the public figures, media, and brands as per their claim. The badge confirms their official pages.

Confirming your Facebook identity verification is important because [it’s a quick sign that your business, brand, or profile is doing well](https://www.weboptimizers.com.au/blue-tick-verification/) and deserve to earn a verifying sign. When your customers or any users check a verified sign on your page, they know that the page they are looking at is not fake. The page is not created by any fraud or fan and it is the real profile or page of a person or company. When the clients seek customer service, the verified Facebook pages show that the company is serious about its client relationship and social media marketing. It also helps your page to rank higher on Google search as well as Facebook search.

**Are you eligible**? [Facebook verification is not allowed for all](https://www.facebook.com/help/1288173394636262). As per the Support Team of Facebook, the verified badge is only available for famous businesses or brands, journalists, media, celebrities, Government officials, sports companies, and people related to the entertainment world. Are you under any of these categories? Then, follow the [Facebook terms of service](https://www.facebook.com/terms) you get a higher chance of being verified quickly.

## Part 2: How to Verify Facebook Page (Blue Badge)

If you want to apply the blue badge for an individual, you need to offer a government-issued photo ID. If you a business owner and want to do Facebook verification for your brand, you can offer utility bills and tax documents. In the end, you need to express your idea to let Facebook know why you want Facebook verification. Once, [all the required information about your business is filled in](https://www.facebook.com/help/contact/342509036134712), you are ready for applying the blue badge. Follow the four steps below to get your brand or profile verified.

### Step 1: Click page verification option

You can find a setting option on the Facebook page at the top. The Page Verification seal is then clicked from the General tab. Get started by clicking on the Verify this Page option.

![Fcebook page verifiation](https://images.wondershare.com/filmora/article-images/page-verifiation-facebook.JPG)

### Step 2: Get verification code

For a more detailed and quick verification process, you can ask the Facebook team to call you up at the registered number listed on your business Facebook page. A verification code enters the number listed and you just need to input it at the box space. Finally, Facebook offers with the verified seal after the process.

**Note**: It won't take much longer time to receive the verification code. In case you haven't receive the verification code after 24 hours, you can try sending **On** or **Fb** to 32665.

### Step 3: Upload the official document

When you pick the more detailed verification process, you need to click on the Verify this Page with Documents option. Then, you receive a prompt to upload the official documents that carried the name and address of the business. It helps in recognizing your page or profile. Finally, after receiving the documents verification request, Facebook confirms or denies it within 48 hours to 45 days timeframe.

![facebook verfication](https://images.wondershare.com/filmora/article-images/facebook-verfication.JPG)

## Part 3: How to Get Your Facebook Page Verified (Gray Badge)

It is so much easier to verify a business or company page, but still, there are preconditions to [get the gray badge](https://www.facebook.com/help/100168986860974/). If your business is in Local Business, Company, or Organization, you can apply for the Gray Badge. You can see the verification entrance in your Page’s Settings if you are an admin have the basic info about your company. You must have some of your business's official documents first like phone number and phone bill.

You need to go to Settings on your page. Then click **General** \> **Page Verification** \> **Verify this Page** \> **Get Started**. Here, you can enter your phone number. Click **Call Me Now**. After a while, you will receive the verification code. Now, enter the code and continue the verification process.

![How to Get Your Facebook Page Verified](https://images.wondershare.com/filmora/filmora-business/how-to-verify-facebook-page-gray-badge.jpg)

## Part 4: Why Facebook Didn’t Give Verification to Me

Facebook said verification can be accepted or rejected. The grey badge verification request takes around 48 hours and the blue badge verification request needs around 3 to 45 days to receive the Facebook response. In case, your verification request is rejected, it is due to the following reasons.

      * **Press releases or marketing is less** \- When your press is less, it is highly possible that your verification request is rejected as your business or page is not identified accurately. You must learn to get featured on Techcrunch, Forbes, etc. You can also [write a press release to get exposure](https://coschedule.com/blog/how-to-write-press-releases-examples-templates/). You may also hire my digital marketing agency for the same.
      * **Your Wikipedia is missing** \- In order to create a Wiki; you firstly require the high-quality press.
      * **Your identity proof is not up to the mark** \- When your reason for verification request is not very compelling or the ID provided by you is blurry or inappropriate, your request may get rejected.
      * **Missing Facebook Native Content** \- Facebook hates a dead page. So, it is important that your page is filled with relevant and great content for long.
      * **Verification is Strict** \- Facebook only verifies the popular pages and profiles easily if you can establish your popularity. It is very strict on who they verify.

## Part 5: 3 Tips to Get Facebook Verification

### 1\. Provide complete and detailed information

If you want to get verified, you need to fill out as much information as possible in order for the reviewing process is fast. You need to go to your about page to enter some information including phone number, email, company overview, address, and products. It is noted that you don't need to fill out all information as details are much more important.

### 2\. Professional Facebook page is needed

You don't want to give Facebook the impression that you are not professional with wrong info and an ugly page interface. The first thing you need to do is update the banner and then your logo as they are the first two things people would notice at first glance. Besides, you also need to remove low-quality images, poor articles, and posts. All in all, information centered with the brand is the symbol of a professional looking for getting Facebook verification.

![facebook verification blue and gray](https://images.wondershare.com/filmora/filmorapro/great-page-get-facebook-verification.jpg)

### 3\. Update your verification information

When Facebook reviews your account, it takes time to give you the blue badge. You need to provide the latest and detailed information to get a quick review. It is not important if your posts are engaging or how many likes you get. The most important thing is correct. If some info is wrong, the chance you get rejected is higher.

### Conclusion

Facebook blue or grey badge verification is a very important step to ensure your page appears in the top search results of the search engines and strengthen the trust of your clients. Besides, video is also an important factor to attract more likes and followers. If you want to edit Facebook video, try [Filmora](https://tools.techidaily.com/wondershare/filmora/download/) to start the journey! [Filmora](https://tools.techidaily.com/wondershare/filmora/download/) as a solution for quickly making the business video is also available. Check this video to learn more.

[![Download Win Version](https://images.wondershare.com/filmora/guide/download-btn-win.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)[![Download Mac Version](https://images.wondershare.com/filmora/guide/download-btn-mac.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)

![author avatar](https://images.wondershare.com/filmora/article-images/shannon-cox.jpg)

Shanoon Cox

Shanoon Cox is a writer and a lover of all things video.

Follow @Shanoon Cox

##### Shanoon Cox

 Mar 27, 2024• Proven solutions

Do you wish to create strong credibility for your brand online? From local businesses to huge brands, all can establish their credibility by getting verified on the Facebook platform. If you want your prospective clients to find you easily, appearing high on search results can work wonders.

But, how can you appear high on search results? Here comes the **Facebook verification**. Attaining the verified blue or grey badge can [prove your business to be trustworthy](https://visualcontenting.com/2016/11/29/difference-blue-gray-facebook-badges-theyre-important-business/) and show your page higher on the search results. Do you know how to get the blue and gray verified badge easily for your profile or page? Check out this article to know how to verify the Facebook page.

You may also like: [**12 Facebook Marketing Tips**](https://tools.techidaily.com/wondershare/filmora/download/) \>>

* [**Part 1: What is the Blue Verification Badge**](#part1)
* [**Part 2: How to Verify Facebook Page (Blue Badge)**](#part2)
* [**Part 3: How to Get Your Facebook Page Verified (Gray Badge)**](#part3)
* [**Part 4: Why Facebook Didn’t Give Verification to Me**](#part4)
* [**Part 5: 3 Tips to Get Facebook Verification**](#part5)

---

## Best video editor for Facebook - Filmora

Video plays an important part on Facebook if you want to get more likes and engagement. Don't know which video editor to use? Here we recommend using [Filmora](https://tools.techidaily.com/wondershare/filmora/download/). It is designed for beginners who want to edit Facebook videos easily. You can use it to make a high-quality video that can help you get Facebook verification quickly. Download it now to start making Facebook videos (free)! [Filmora Business](https://tools.techidaily.com/wondershare/filmora/download/) is also available to help you quickly make Facebook videos. You can use it to make an amazing product or brand video with a growing resource library.

* You can use it to change the aspect ratio for Facebook: 1:1, 16:9 and more
* Add various text/title templates to your video
* More than 300 filters/effects/overlays to use
* Export to Facebook video format directly

[![Download Win Version](https://images.wondershare.com/filmora/guide/download-btn-win.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)[Download Mac Version](https://images.wondershare.com/filmora/guide/download-btn-mac.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)

---

## Part 1: What is the Blue Verification Badge

The blue verification badge is a seal of your identity. It proves that your pages have a real identity and not fake. Facebook has [three kinds of verification](https://www.facebook.com/help/196050490547892?helpref=popular%5Ftopics) – grey tick pages, blue tick pages, and blue tick profiles.

**The grey tick Facebook pages** represent various organizations and companies that have been verified by Facebook and confirm their real identity.

**The blue tick Facebook pages and Facebook profiles** confirm the identity of the public figures, media, and brands as per their claim. The badge confirms their official pages.

Confirming your Facebook identity verification is important because [it’s a quick sign that your business, brand, or profile is doing well](https://www.weboptimizers.com.au/blue-tick-verification/) and deserve to earn a verifying sign. When your customers or any users check a verified sign on your page, they know that the page they are looking at is not fake. The page is not created by any fraud or fan and it is the real profile or page of a person or company. When the clients seek customer service, the verified Facebook pages show that the company is serious about its client relationship and social media marketing. It also helps your page to rank higher on Google search as well as Facebook search.

**Are you eligible**? [Facebook verification is not allowed for all](https://www.facebook.com/help/1288173394636262). As per the Support Team of Facebook, the verified badge is only available for famous businesses or brands, journalists, media, celebrities, Government officials, sports companies, and people related to the entertainment world. Are you under any of these categories? Then, follow the [Facebook terms of service](https://www.facebook.com/terms) you get a higher chance of being verified quickly.

## Part 2: How to Verify Facebook Page (Blue Badge)

If you want to apply the blue badge for an individual, you need to offer a government-issued photo ID. If you a business owner and want to do Facebook verification for your brand, you can offer utility bills and tax documents. In the end, you need to express your idea to let Facebook know why you want Facebook verification. Once, [all the required information about your business is filled in](https://www.facebook.com/help/contact/342509036134712), you are ready for applying the blue badge. Follow the four steps below to get your brand or profile verified.

### Step 1: Click page verification option

You can find a setting option on the Facebook page at the top. The Page Verification seal is then clicked from the General tab. Get started by clicking on the Verify this Page option.

![Fcebook page verifiation](https://images.wondershare.com/filmora/article-images/page-verifiation-facebook.JPG)

### Step 2: Get verification code

For a more detailed and quick verification process, you can ask the Facebook team to call you up at the registered number listed on your business Facebook page. A verification code enters the number listed and you just need to input it at the box space. Finally, Facebook offers with the verified seal after the process.

**Note**: It won't take much longer time to receive the verification code. In case you haven't receive the verification code after 24 hours, you can try sending **On** or **Fb** to 32665.

### Step 3: Upload the official document

When you pick the more detailed verification process, you need to click on the Verify this Page with Documents option. Then, you receive a prompt to upload the official documents that carried the name and address of the business. It helps in recognizing your page or profile. Finally, after receiving the documents verification request, Facebook confirms or denies it within 48 hours to 45 days timeframe.

![facebook verfication](https://images.wondershare.com/filmora/article-images/facebook-verfication.JPG)

## Part 3: How to Get Your Facebook Page Verified (Gray Badge)

It is so much easier to verify a business or company page, but still, there are preconditions to [get the gray badge](https://www.facebook.com/help/100168986860974/). If your business is in Local Business, Company, or Organization, you can apply for the Gray Badge. You can see the verification entrance in your Page’s Settings if you are an admin have the basic info about your company. You must have some of your business's official documents first like phone number and phone bill.

You need to go to Settings on your page. Then click **General** \> **Page Verification** \> **Verify this Page** \> **Get Started**. Here, you can enter your phone number. Click **Call Me Now**. After a while, you will receive the verification code. Now, enter the code and continue the verification process.

![How to Get Your Facebook Page Verified](https://images.wondershare.com/filmora/filmora-business/how-to-verify-facebook-page-gray-badge.jpg)

## Part 4: Why Facebook Didn’t Give Verification to Me

Facebook said verification can be accepted or rejected. The grey badge verification request takes around 48 hours and the blue badge verification request needs around 3 to 45 days to receive the Facebook response. In case, your verification request is rejected, it is due to the following reasons.

      * **Press releases or marketing is less** \- When your press is less, it is highly possible that your verification request is rejected as your business or page is not identified accurately. You must learn to get featured on Techcrunch, Forbes, etc. You can also [write a press release to get exposure](https://coschedule.com/blog/how-to-write-press-releases-examples-templates/). You may also hire my digital marketing agency for the same.
      * **Your Wikipedia is missing** \- In order to create a Wiki; you firstly require the high-quality press.
      * **Your identity proof is not up to the mark** \- When your reason for verification request is not very compelling or the ID provided by you is blurry or inappropriate, your request may get rejected.
      * **Missing Facebook Native Content** \- Facebook hates a dead page. So, it is important that your page is filled with relevant and great content for long.
      * **Verification is Strict** \- Facebook only verifies the popular pages and profiles easily if you can establish your popularity. It is very strict on who they verify.

## Part 5: 3 Tips to Get Facebook Verification

### 1\. Provide complete and detailed information

If you want to get verified, you need to fill out as much information as possible in order for the reviewing process is fast. You need to go to your about page to enter some information including phone number, email, company overview, address, and products. It is noted that you don't need to fill out all information as details are much more important.

### 2\. Professional Facebook page is needed

You don't want to give Facebook the impression that you are not professional with wrong info and an ugly page interface. The first thing you need to do is update the banner and then your logo as they are the first two things people would notice at first glance. Besides, you also need to remove low-quality images, poor articles, and posts. All in all, information centered with the brand is the symbol of a professional looking for getting Facebook verification.

![facebook verification blue and gray](https://images.wondershare.com/filmora/filmorapro/great-page-get-facebook-verification.jpg)

### 3\. Update your verification information

When Facebook reviews your account, it takes time to give you the blue badge. You need to provide the latest and detailed information to get a quick review. It is not important if your posts are engaging or how many likes you get. The most important thing is correct. If some info is wrong, the chance you get rejected is higher.

### Conclusion

Facebook blue or grey badge verification is a very important step to ensure your page appears in the top search results of the search engines and strengthen the trust of your clients. Besides, video is also an important factor to attract more likes and followers. If you want to edit Facebook video, try [Filmora](https://tools.techidaily.com/wondershare/filmora/download/) to start the journey! [Filmora](https://tools.techidaily.com/wondershare/filmora/download/) as a solution for quickly making the business video is also available. Check this video to learn more.

[![Download Win Version](https://images.wondershare.com/filmora/guide/download-btn-win.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)[![Download Mac Version](https://images.wondershare.com/filmora/guide/download-btn-mac.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)

![author avatar](https://images.wondershare.com/filmora/article-images/shannon-cox.jpg)

Shanoon Cox

Shanoon Cox is a writer and a lover of all things video.

Follow @Shanoon Cox

##### Shanoon Cox

 Mar 27, 2024• Proven solutions

Do you wish to create strong credibility for your brand online? From local businesses to huge brands, all can establish their credibility by getting verified on the Facebook platform. If you want your prospective clients to find you easily, appearing high on search results can work wonders.

But, how can you appear high on search results? Here comes the **Facebook verification**. Attaining the verified blue or grey badge can [prove your business to be trustworthy](https://visualcontenting.com/2016/11/29/difference-blue-gray-facebook-badges-theyre-important-business/) and show your page higher on the search results. Do you know how to get the blue and gray verified badge easily for your profile or page? Check out this article to know how to verify the Facebook page.

You may also like: [**12 Facebook Marketing Tips**](https://tools.techidaily.com/wondershare/filmora/download/) \>>

* [**Part 1: What is the Blue Verification Badge**](#part1)
* [**Part 2: How to Verify Facebook Page (Blue Badge)**](#part2)
* [**Part 3: How to Get Your Facebook Page Verified (Gray Badge)**](#part3)
* [**Part 4: Why Facebook Didn’t Give Verification to Me**](#part4)
* [**Part 5: 3 Tips to Get Facebook Verification**](#part5)

---

## Best video editor for Facebook - Filmora

Video plays an important part on Facebook if you want to get more likes and engagement. Don't know which video editor to use? Here we recommend using [Filmora](https://tools.techidaily.com/wondershare/filmora/download/). It is designed for beginners who want to edit Facebook videos easily. You can use it to make a high-quality video that can help you get Facebook verification quickly. Download it now to start making Facebook videos (free)! [Filmora Business](https://tools.techidaily.com/wondershare/filmora/download/) is also available to help you quickly make Facebook videos. You can use it to make an amazing product or brand video with a growing resource library.

* You can use it to change the aspect ratio for Facebook: 1:1, 16:9 and more
* Add various text/title templates to your video
* More than 300 filters/effects/overlays to use
* Export to Facebook video format directly

[![Download Win Version](https://images.wondershare.com/filmora/guide/download-btn-win.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)[Download Mac Version](https://images.wondershare.com/filmora/guide/download-btn-mac.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)

---

## Part 1: What is the Blue Verification Badge

The blue verification badge is a seal of your identity. It proves that your pages have a real identity and not fake. Facebook has [three kinds of verification](https://www.facebook.com/help/196050490547892?helpref=popular%5Ftopics) – grey tick pages, blue tick pages, and blue tick profiles.

**The grey tick Facebook pages** represent various organizations and companies that have been verified by Facebook and confirm their real identity.

**The blue tick Facebook pages and Facebook profiles** confirm the identity of the public figures, media, and brands as per their claim. The badge confirms their official pages.

Confirming your Facebook identity verification is important because [it’s a quick sign that your business, brand, or profile is doing well](https://www.weboptimizers.com.au/blue-tick-verification/) and deserve to earn a verifying sign. When your customers or any users check a verified sign on your page, they know that the page they are looking at is not fake. The page is not created by any fraud or fan and it is the real profile or page of a person or company. When the clients seek customer service, the verified Facebook pages show that the company is serious about its client relationship and social media marketing. It also helps your page to rank higher on Google search as well as Facebook search.

**Are you eligible**? [Facebook verification is not allowed for all](https://www.facebook.com/help/1288173394636262). As per the Support Team of Facebook, the verified badge is only available for famous businesses or brands, journalists, media, celebrities, Government officials, sports companies, and people related to the entertainment world. Are you under any of these categories? Then, follow the [Facebook terms of service](https://www.facebook.com/terms) you get a higher chance of being verified quickly.

## Part 2: How to Verify Facebook Page (Blue Badge)

If you want to apply the blue badge for an individual, you need to offer a government-issued photo ID. If you a business owner and want to do Facebook verification for your brand, you can offer utility bills and tax documents. In the end, you need to express your idea to let Facebook know why you want Facebook verification. Once, [all the required information about your business is filled in](https://www.facebook.com/help/contact/342509036134712), you are ready for applying the blue badge. Follow the four steps below to get your brand or profile verified.

### Step 1: Click page verification option

You can find a setting option on the Facebook page at the top. The Page Verification seal is then clicked from the General tab. Get started by clicking on the Verify this Page option.

![Fcebook page verifiation](https://images.wondershare.com/filmora/article-images/page-verifiation-facebook.JPG)

### Step 2: Get verification code

For a more detailed and quick verification process, you can ask the Facebook team to call you up at the registered number listed on your business Facebook page. A verification code enters the number listed and you just need to input it at the box space. Finally, Facebook offers with the verified seal after the process.

**Note**: It won't take much longer time to receive the verification code. In case you haven't receive the verification code after 24 hours, you can try sending **On** or **Fb** to 32665.

### Step 3: Upload the official document

When you pick the more detailed verification process, you need to click on the Verify this Page with Documents option. Then, you receive a prompt to upload the official documents that carried the name and address of the business. It helps in recognizing your page or profile. Finally, after receiving the documents verification request, Facebook confirms or denies it within 48 hours to 45 days timeframe.

![facebook verfication](https://images.wondershare.com/filmora/article-images/facebook-verfication.JPG)

## Part 3: How to Get Your Facebook Page Verified (Gray Badge)

It is so much easier to verify a business or company page, but still, there are preconditions to [get the gray badge](https://www.facebook.com/help/100168986860974/). If your business is in Local Business, Company, or Organization, you can apply for the Gray Badge. You can see the verification entrance in your Page’s Settings if you are an admin have the basic info about your company. You must have some of your business's official documents first like phone number and phone bill.

You need to go to Settings on your page. Then click **General** \> **Page Verification** \> **Verify this Page** \> **Get Started**. Here, you can enter your phone number. Click **Call Me Now**. After a while, you will receive the verification code. Now, enter the code and continue the verification process.

![How to Get Your Facebook Page Verified](https://images.wondershare.com/filmora/filmora-business/how-to-verify-facebook-page-gray-badge.jpg)

## Part 4: Why Facebook Didn’t Give Verification to Me

Facebook said verification can be accepted or rejected. The grey badge verification request takes around 48 hours and the blue badge verification request needs around 3 to 45 days to receive the Facebook response. In case, your verification request is rejected, it is due to the following reasons.

      * **Press releases or marketing is less** \- When your press is less, it is highly possible that your verification request is rejected as your business or page is not identified accurately. You must learn to get featured on Techcrunch, Forbes, etc. You can also [write a press release to get exposure](https://coschedule.com/blog/how-to-write-press-releases-examples-templates/). You may also hire my digital marketing agency for the same.
      * **Your Wikipedia is missing** \- In order to create a Wiki; you firstly require the high-quality press.
      * **Your identity proof is not up to the mark** \- When your reason for verification request is not very compelling or the ID provided by you is blurry or inappropriate, your request may get rejected.
      * **Missing Facebook Native Content** \- Facebook hates a dead page. So, it is important that your page is filled with relevant and great content for long.
      * **Verification is Strict** \- Facebook only verifies the popular pages and profiles easily if you can establish your popularity. It is very strict on who they verify.

## Part 5: 3 Tips to Get Facebook Verification

### 1\. Provide complete and detailed information

If you want to get verified, you need to fill out as much information as possible in order for the reviewing process is fast. You need to go to your about page to enter some information including phone number, email, company overview, address, and products. It is noted that you don't need to fill out all information as details are much more important.

### 2\. Professional Facebook page is needed

You don't want to give Facebook the impression that you are not professional with wrong info and an ugly page interface. The first thing you need to do is update the banner and then your logo as they are the first two things people would notice at first glance. Besides, you also need to remove low-quality images, poor articles, and posts. All in all, information centered with the brand is the symbol of a professional looking for getting Facebook verification.

![facebook verification blue and gray](https://images.wondershare.com/filmora/filmorapro/great-page-get-facebook-verification.jpg)

### 3\. Update your verification information

When Facebook reviews your account, it takes time to give you the blue badge. You need to provide the latest and detailed information to get a quick review. It is not important if your posts are engaging or how many likes you get. The most important thing is correct. If some info is wrong, the chance you get rejected is higher.

### Conclusion

Facebook blue or grey badge verification is a very important step to ensure your page appears in the top search results of the search engines and strengthen the trust of your clients. Besides, video is also an important factor to attract more likes and followers. If you want to edit Facebook video, try [Filmora](https://tools.techidaily.com/wondershare/filmora/download/) to start the journey! [Filmora](https://tools.techidaily.com/wondershare/filmora/download/) as a solution for quickly making the business video is also available. Check this video to learn more.

[![Download Win Version](https://images.wondershare.com/filmora/guide/download-btn-win.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)[![Download Mac Version](https://images.wondershare.com/filmora/guide/download-btn-mac.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)

![author avatar](https://images.wondershare.com/filmora/article-images/shannon-cox.jpg)

Shanoon Cox

Shanoon Cox is a writer and a lover of all things video.

Follow @Shanoon Cox

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://facebook-video-recording.techidaily.com/thriving-in-the-digital-space-crafting-high-impact-fb-videos/"><u>Thriving in the Digital Space  Crafting High-Impact FB Videos</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-addressing-freeze-during-facebook-live-events/"><u>[New] Addressing Freeze During Facebook Live Events</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-tips-to-share-pre-recorded-videos-live-on-facebook-for-2024/"><u>[Updated] Tips to Share Pre-Recorded Videos Live on Facebook for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-harnessing-the-power-of-stories-in-fb-networks/"><u>[New] Harnessing the Power of Stories in FB Networks</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/unlock-the-power-of-personal-branding-insider-secrets-for-flawless-biographies/"><u>Unlock the Power of Personal Branding  Insider Secrets for Flawless Biographies</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-2024-approved-music-infused-video-tutorials-for-enhanced-social-media-presence-fb/"><u>[New] 2024 Approved  Music-Infused Video Tutorials for Enhanced Social Media Presence (FB)</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-2024-approved-navigating-facebooks-automatic-video-features/"><u>[Updated] 2024 Approved  Navigating Facebook's Automatic Video Features</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-unlocking-real-time-sharing-streaming-old-video-to-facebook-audiences/"><u>[New] Unlocking Real-Time Sharing  Streaming Old Video to Facebook Audiences</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-enhancing-twitter-posts-via-facebook-connection/"><u>[New] Enhancing Twitter Posts via Facebook Connection</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-in-2024-discover-the-top-6-fb-lite-video-export-apps-of-2023/"><u>[Updated] In 2024, Discover the Top 6 FB Lite Video Export Apps of 2023</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-in-2024-setting-up-your-footprint-a-complete-guide-to-fb-instream-ad-configuration/"><u>[Updated] In 2024, Setting Up Your Footprint  A Complete Guide to FB Instream Ad Configuration</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-2024-approved-interactive-guide-twitter-and-facebook-synergy/"><u>[Updated] 2024 Approved  Interactive Guide  Twitter & Facebook Synergy</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-master-2-screen-grab-tools-for-2024/"><u>[New] Master 2 Screen Grab Tools for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-in-2024-how-to-captivate-audiences-with-fb-live-todays-way/"><u>[New] In 2024, How to Captivate Audiences with FB Live, Today's Way</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/in-2024-optimal-viewing-experience-for-facebook-video-playback/"><u>In 2024, Optimal Viewing Experience for Facebook Video Playback</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-tackle-intermittent-fb-reels-display/"><u>[New] Tackle Intermittent FB Reels Display</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-in-2024-expert-video-grabbing-extras-fb-and-firefox-edition/"><u>[Updated] In 2024, Expert Video Grabbing Extras  FB & Firefox Edition</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/in-2024-mastering-the-art-of-social-media-videos-for-maximum-reach/"><u>In 2024, Mastering the Art of Social Media Videos for Maximum Reach</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-eliminating-fb-live-ads-a-step-by-step-guide-for-2024/"><u>[New] Eliminating FB Live Ads  A Step-by-Step Guide for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/in-2024-formulating-interactive-virtual-meeting-zones-messenger/"><u>In 2024, Formulating Interactive Virtual Meeting Zones  Messenger</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-2024-approved-cloaked-observer-of-facebook-snapshots/"><u>[Updated] 2024 Approved  Cloaked Observer of Facebook Snapshots</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/achieve-excellence-in-fb-video-marketing-essential-free-kit-included/"><u>Achieve Excellence in FB Video Marketing - Essential FREE Kit Included</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-2024-approved-grab-your-favorite-facebook-videos-today/"><u>[New] 2024 Approved  Grab Your Favorite Facebook Videos Today</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-2024-approved-leading-edge-facebook-film-archives/"><u>[New] 2024 Approved  Leading Edge  Facebook Film Archives</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/2024-approved-easy-steps-to-rectify-non-sending-or-delayed-videos-in-messenger-chats/"><u>2024 Approved  Easy Steps to Rectify Non-Sending or Delayed Videos in Messenger Chats</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-from-broadcasting-basics-to-facebook-live-with-wirecast/"><u>[New] From Broadcasting Basics to Facebook Live with Wirecast</u></a></li>
<li><a href="https://screen-mirror.techidaily.com/in-2024-8-best-apps-for-screen-mirroring-vivo-v30-pro-pc-drfone-by-drfone-android/"><u>In 2024, 8 Best Apps for Screen Mirroring Vivo V30 Pro PC | Dr.fone</u></a></li>
<li><a href="https://pokemon-go-android.techidaily.com/in-2024-best-pokemons-for-pvp-matches-in-pokemon-go-for-realme-c33-2023-drfone-by-drfone-virtual-android/"><u>In 2024, Best Pokemons for PVP Matches in Pokemon Go For Realme C33 2023 | Dr.fone</u></a></li>
<li><a href="https://android-location-track.techidaily.com/2-ways-to-monitor-realme-11-pro-activity-drfone-by-drfone-virtual-android/"><u>2 Ways to Monitor Realme 11 Pro Activity | Dr.fone</u></a></li>
<li><a href="https://screen-sharing-recording.techidaily.com/new-effortless-screen-changes-made-simple/"><u>[New] Effortless Screen Changes Made Simple</u></a></li>
<li><a href="https://screen-video-capture.techidaily.com/new-whipped-watchers-guide-complete-review-of-frozen-food-filming-tech-for-2024/"><u>[New] Whipped Watcher's Guide  Complete Review of Frozen Food Filming Tech for 2024</u></a></li>
<li><a href="https://video-screen-grab.techidaily.com/updated-scrutinizing-active-presenters-record-quality/"><u>[Updated] Scrutinizing Active Presenter's Record Quality</u></a></li>
<li><a href="https://ai-vdieo-software.techidaily.com/updated-free-video-hosting-10-top-options-for-personal-and-professional-use/"><u>Updated Free Video Hosting 10 Top Options for Personal and Professional Use</u></a></li>
<li><a href="https://easy-unlock-android.techidaily.com/in-2024-10-easy-to-use-frp-bypass-tools-for-unlocking-google-accounts-on-poco-c51-by-drfone-android/"><u>In 2024, 10 Easy-to-Use FRP Bypass Tools for Unlocking Google Accounts On Poco C51</u></a></li>
<li><a href="https://android-location-track.techidaily.com/in-2024-ways-to-stop-parent-tracking-your-oppo-a79-5g-drfone-by-drfone-virtual-android/"><u>In 2024, Ways to stop parent tracking your Oppo A79 5G | Dr.fone</u></a></li>
<li><a href="https://smart-video-editing.techidaily.com/new-2024-approved-avoid-common-mistakes-how-to-select-the-best-video-to-audio-converter-for-your-needs/"><u>New 2024 Approved Avoid Common Mistakes How to Select the Best Video to Audio Converter for Your Needs</u></a></li>
<li><a href="https://techidaily.com/complete-guide-to-hard-reset-your-asus-rog-phone-7-ultimate-drfone-by-drfone-reset-android-reset-android/"><u>Complete Guide to Hard Reset Your Asus ROG Phone 7 Ultimate | Dr.fone</u></a></li>
<li><a href="https://android-transfer.techidaily.com/in-2024-how-i-transferred-messages-from-oppo-a78-5g-to-iphone-12xs-max-in-seconds-drfone-by-drfone-transfer-from-android-transfer-from-android/"><u>In 2024, How I Transferred Messages from Oppo A78 5G to iPhone 12/XS (Max) in Seconds | Dr.fone</u></a></li>
</ul></div>

