---
title: "\"[Updated] 2024 Approved  Decoding the Route to Achieving Facebook Verification\""
date: 2024-08-24T06:54:30.309Z
updated: 2024-08-25T06:54:30.309Z
tags:
  - ai video
  - ai facebook
  - ai facebook video
categories:
  - ai
  - facebook
description: "\"This Article Describes [Updated] 2024 Approved: Decoding the Route to Achieving Facebook Verification\""
excerpt: "\"This Article Describes [Updated] 2024 Approved: Decoding the Route to Achieving Facebook Verification\""
keywords: "Social Media Verified Status,Obtaining FB Verification Badge,Secure Facebook Identity,Acquiring FB Certificate,Unlocking FB Verification Code,Gain FB Authentication Mark,Achieving FB Account Confirmation"
thumbnail: https://thmb.techidaily.com/91715213b833560df5357cf6515828851bc7618f2025585b01b64f73f1ad8f14.jpg
---

## Decoding the Route to Achieving Facebook Verification

# Facebook Verification: how to Verify Facebook Page Easily

![author avatar](https://images.wondershare.com/filmora/article-images/shannon-cox.jpg)

##### Shanoon Cox

 Mar 27, 2024• Proven solutions

Do you wish to create strong credibility for your brand online? From local businesses to huge brands, all can establish their credibility by getting verified on the Facebook platform. If you want your prospective clients to find you easily, appearing high on search results can work wonders.

But, how can you appear high on search results? Here comes the **Facebook verification**. Attaining the verified blue or grey badge can [prove your business to be trustworthy](https://visualcontenting.com/2016/11/29/difference-blue-gray-facebook-badges-theyre-important-business/) and show your page higher on the search results. Do you know how to get the blue and gray verified badge easily for your profile or page? Check out this article to know how to verify the Facebook page.

You may also like: [**12 Facebook Marketing Tips**](https://tools.techidaily.com/wondershare/filmora/download/) \>>

* [**Part 1: What is the Blue Verification Badge**](#part1)
* [**Part 2: How to Verify Facebook Page (Blue Badge)**](#part2)
* [**Part 3: How to Get Your Facebook Page Verified (Gray Badge)**](#part3)
* [**Part 4: Why Facebook Didn’t Give Verification to Me**](#part4)
* [**Part 5: 3 Tips to Get Facebook Verification**](#part5)

---

## Best video editor for Facebook - Filmora

Video plays an important part on Facebook if you want to get more likes and engagement. Don't know which video editor to use? Here we recommend using [Filmora](https://tools.techidaily.com/wondershare/filmora/download/). It is designed for beginners who want to edit Facebook videos easily. You can use it to make a high-quality video that can help you get Facebook verification quickly. Download it now to start making Facebook videos (free)! [Filmora Business](https://tools.techidaily.com/wondershare/filmora/download/) is also available to help you quickly make Facebook videos. You can use it to make an amazing product or brand video with a growing resource library.

* You can use it to change the aspect ratio for Facebook: 1:1, 16:9 and more
* Add various text/title templates to your video
* More than 300 filters/effects/overlays to use
* Export to Facebook video format directly

[![Download Win Version](https://images.wondershare.com/filmora/guide/download-btn-win.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)[Download Mac Version](https://images.wondershare.com/filmora/guide/download-btn-mac.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)

---

## Part 1: What is the Blue Verification Badge

The blue verification badge is a seal of your identity. It proves that your pages have a real identity and not fake. Facebook has [three kinds of verification](https://www.facebook.com/help/196050490547892?helpref=popular%5Ftopics) – grey tick pages, blue tick pages, and blue tick profiles.

**The grey tick Facebook pages** represent various organizations and companies that have been verified by Facebook and confirm their real identity.

**The blue tick Facebook pages and Facebook profiles** confirm the identity of the public figures, media, and brands as per their claim. The badge confirms their official pages.

Confirming your Facebook identity verification is important because [it’s a quick sign that your business, brand, or profile is doing well](https://www.weboptimizers.com.au/blue-tick-verification/) and deserve to earn a verifying sign. When your customers or any users check a verified sign on your page, they know that the page they are looking at is not fake. The page is not created by any fraud or fan and it is the real profile or page of a person or company. When the clients seek customer service, the verified Facebook pages show that the company is serious about its client relationship and social media marketing. It also helps your page to rank higher on Google search as well as Facebook search.

**Are you eligible**? [Facebook verification is not allowed for all](https://www.facebook.com/help/1288173394636262). As per the Support Team of Facebook, the verified badge is only available for famous businesses or brands, journalists, media, celebrities, Government officials, sports companies, and people related to the entertainment world. Are you under any of these categories? Then, follow the [Facebook terms of service](https://www.facebook.com/terms) you get a higher chance of being verified quickly.

<!-- affiliate ads begin -->
<a href="https://shop.mondly.com/affiliate.php?ACCOUNT=ATISTUDI&AFFILIATE=108875&PATH=https%3A%2F%2Fwww.mondly.com%3FAFFILIATE%3D108875%26RESOURCE%3D%2BEducational%2B970x90%2B"><img src="https://secure.avangate.com/images/merchant/69c418c33ec2e1a4267fa9bb77fa1428/educational-970x90.gif" border="0"></a>
<!-- affiliate ads end -->
## Part 2: How to Verify Facebook Page (Blue Badge)

If you want to apply the blue badge for an individual, you need to offer a government-issued photo ID. If you a business owner and want to do Facebook verification for your brand, you can offer utility bills and tax documents. In the end, you need to express your idea to let Facebook know why you want Facebook verification. Once, [all the required information about your business is filled in](https://www.facebook.com/help/contact/342509036134712), you are ready for applying the blue badge. Follow the four steps below to get your brand or profile verified.

<!-- affiliate ads begin -->
<a href="https://turbotech.pxf.io/c/5597632/1450763/17212" target="_top" id="1450763"><img src="//a.impactradius-go.com/display-ad/17212-1450763" border="0" alt="" width="2560" height="1440"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1450763/17212" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
### Step 1: Click page verification option

You can find a setting option on the Facebook page at the top. The Page Verification seal is then clicked from the General tab. Get started by clicking on the Verify this Page option.

![Fcebook page verifiation](https://images.wondershare.com/filmora/article-images/page-verifiation-facebook.JPG)

<!-- affiliate ads begin -->
<a href="https://twopages.pxf.io/c/5597632/1873305/18544" target="_top" id="1873305"><img src="//a.impactradius-go.com/display-ad/18544-1873305" border="0" alt="" width="1080" height="1350"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1873305/18544" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
<!-- affiliate ads begin -->
<a href="https://bluetties.sjv.io/c/5597632/2039292/17094" target="_top" id="2039292"><img src="//a.impactradius-go.com/display-ad/17094-2039292" border="0" alt="BLUETTI NEW LAUNCH AC240" width="954" height="1020"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/2039292/17094" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
### Step 2: Get verification code

For a more detailed and quick verification process, you can ask the Facebook team to call you up at the registered number listed on your business Facebook page. A verification code enters the number listed and you just need to input it at the box space. Finally, Facebook offers with the verified seal after the process.

**Note**: It won't take much longer time to receive the verification code. In case you haven't receive the verification code after 24 hours, you can try sending **On** or **Fb** to 32665.

### Step 3: Upload the official document

When you pick the more detailed verification process, you need to click on the Verify this Page with Documents option. Then, you receive a prompt to upload the official documents that carried the name and address of the business. It helps in recognizing your page or profile. Finally, after receiving the documents verification request, Facebook confirms or denies it within 48 hours to 45 days timeframe.

![facebook verfication](https://images.wondershare.com/filmora/article-images/facebook-verfication.JPG)

<!-- affiliate ads begin -->
<a href="https://godlikehost.sjv.io/c/5597632/1920047/21774" target="_top" id="1920047"><img src="//a.impactradius-go.com/display-ad/21774-1920047" border="0" alt="" width="300" height="250"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1920047/21774" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=3727260&QTY=1&AFFILIATE=108875&CART=1"><img src="http://www.aiseesoft.com/avangate/30p/banner.jpg" border="0"></a>
<!-- affiliate ads end -->
## Part 3: How to Get Your Facebook Page Verified (Gray Badge)

It is so much easier to verify a business or company page, but still, there are preconditions to [get the gray badge](https://www.facebook.com/help/100168986860974/). If your business is in Local Business, Company, or Organization, you can apply for the Gray Badge. You can see the verification entrance in your Page’s Settings if you are an admin have the basic info about your company. You must have some of your business's official documents first like phone number and phone bill.

You need to go to Settings on your page. Then click **General** \> **Page Verification** \> **Verify this Page** \> **Get Started**. Here, you can enter your phone number. Click **Call Me Now**. After a while, you will receive the verification code. Now, enter the code and continue the verification process.

![How to Get Your Facebook Page Verified](https://images.wondershare.com/filmora/filmora-business/how-to-verify-facebook-page-gray-badge.jpg)

<!-- affiliate ads begin -->
<a href="https://natural-cycles.sjv.io/c/5597632/2072199/17885" target="_top" id="2072199"><img src="//a.impactradius-go.com/display-ad/17885-2072199" border="0" alt="" width="300" height="300"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/2072199/17885" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Part 4: Why Facebook Didn’t Give Verification to Me

Facebook said verification can be accepted or rejected. The grey badge verification request takes around 48 hours and the blue badge verification request needs around 3 to 45 days to receive the Facebook response. In case, your verification request is rejected, it is due to the following reasons.

      * **Press releases or marketing is less** \- When your press is less, it is highly possible that your verification request is rejected as your business or page is not identified accurately. You must learn to get featured on Techcrunch, Forbes, etc. You can also [write a press release to get exposure](https://coschedule.com/blog/how-to-write-press-releases-examples-templates/). You may also hire my digital marketing agency for the same.
      * **Your Wikipedia is missing** \- In order to create a Wiki; you firstly require the high-quality press.
      * **Your identity proof is not up to the mark** \- When your reason for verification request is not very compelling or the ID provided by you is blurry or inappropriate, your request may get rejected.
      * **Missing Facebook Native Content** \- Facebook hates a dead page. So, it is important that your page is filled with relevant and great content for long.
      * **Verification is Strict** \- Facebook only verifies the popular pages and profiles easily if you can establish your popularity. It is very strict on who they verify.

<!-- affiliate ads begin -->
<a href="https://tokenmetrics.sjv.io/c/5597632/1864921/20702" target="_top" id="1864921"><img src="//a.impactradius-go.com/display-ad/20702-1864921" border="0" alt="" width="1251" height="1042"/></a>
<!-- affiliate ads end -->
## Part 5: 3 Tips to Get Facebook Verification

### 1\. Provide complete and detailed information

If you want to get verified, you need to fill out as much information as possible in order for the reviewing process is fast. You need to go to your about page to enter some information including phone number, email, company overview, address, and products. It is noted that you don't need to fill out all information as details are much more important.

### 2\. Professional Facebook page is needed

You don't want to give Facebook the impression that you are not professional with wrong info and an ugly page interface. The first thing you need to do is update the banner and then your logo as they are the first two things people would notice at first glance. Besides, you also need to remove low-quality images, poor articles, and posts. All in all, information centered with the brand is the symbol of a professional looking for getting Facebook verification.

![facebook verification blue and gray](https://images.wondershare.com/filmora/filmorapro/great-page-get-facebook-verification.jpg)

### 3\. Update your verification information

When Facebook reviews your account, it takes time to give you the blue badge. You need to provide the latest and detailed information to get a quick review. It is not important if your posts are engaging or how many likes you get. The most important thing is correct. If some info is wrong, the chance you get rejected is higher.

### Conclusion

Facebook blue or grey badge verification is a very important step to ensure your page appears in the top search results of the search engines and strengthen the trust of your clients. Besides, video is also an important factor to attract more likes and followers. If you want to edit Facebook video, try [Filmora](https://tools.techidaily.com/wondershare/filmora/download/) to start the journey! [Filmora](https://tools.techidaily.com/wondershare/filmora/download/) as a solution for quickly making the business video is also available. Check this video to learn more.

[![Download Win Version](https://images.wondershare.com/filmora/guide/download-btn-win.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)[![Download Mac Version](https://images.wondershare.com/filmora/guide/download-btn-mac.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)

![author avatar](https://images.wondershare.com/filmora/article-images/shannon-cox.jpg)

Shanoon Cox

Shanoon Cox is a writer and a lover of all things video.

Follow @Shanoon Cox

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://fox-access.techidaily.com/new-2024-approved-best-camcorder-selections-for-snowboardingskiing/"><u>[New] 2024 Approved  Best Camcorder Selections for Snowboarding/Skiing</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-2024-approved-guide-to-retrieving-and-saving-gifs-from-facebooks-domain/"><u>[New] 2024 Approved  Guide to Retrieving and Saving GIFs From Facebook's Domain</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-2024-approved-navigating-the-world-of-facebook-analytics/"><u>[New] 2024 Approved  Navigating the World of Facebook Analytics</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-2024-approved-online-facebook-downloader-mp3/"><u>[New] 2024 Approved  Online Facebook Downloader MP3</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-in-2024-the-ultimate-guide-to-adding-audio-content-in-fb-timeline/"><u>[New] In 2024, The Ultimate Guide to Adding Audio Content in FB Timeline</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-mastering-panoramic-videos-on-iphone-perfect-for-facebook-for-2024/"><u>[New] Mastering Panoramic Videos on iPhone, Perfect for Facebook for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-navigating-self-representation-on-facebook-live-calls/"><u>[New] Navigating Self-Representation on Facebook Live Calls</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-saving-the-best-from-fb-in-high-definition-for-2024/"><u>[New] Saving the Best From FB in High Definition for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-setting-up-facebook-viewing-for-smooth-apple-tv-experience/"><u>[New] Setting Up Facebook Viewing for Smooth Apple TV Experience</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/new-tricks-to-upgrade-streaming-quality-on-mobile-apps-like-facebook-for-2024/"><u>[New] Tricks to Upgrade Streaming Quality on Mobile Apps Like Facebook for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-2024-approved-twitch-user-introduction-measurements-format-duration/"><u>[Updated] 2024 Approved  Twitch User Introduction  Measurements, Format, Duration</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-aesthetic-video-upgrade-implement-lc-overlay-and-black-bars-on-facebook-for-2024/"><u>[Updated] Aesthetic Video Upgrade  Implement LC Overlay & Black Bars on Facebook for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-beginning-to-connect-a-comprehensive-facebook-setup-walkthrough/"><u>[Updated] Beginning to Connect  A Comprehensive Facebook Setup Walkthrough</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-decoding-the-fuzziness-in-facebook-videos/"><u>[Updated] Decoding the Fuzziness in Facebook Videos</u></a></li>
<li><a href="https://on-screen-recording.techidaily.com/updated-detailed-look-logitechs-elite-4k-webcam-review-for-2024/"><u>[Updated] Detailed Look  Logitech’s Elite 4K Webcam Review for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-for-beginners-leveraging-facebook-data-with-ease-for-2024/"><u>[Updated] For Beginners  Leveraging Facebook Data with Ease for 2024</u></a></li>
<li><a href="https://some-techniques.techidaily.com/updated-how-long-is-a-video-at-20-megabits/"><u>[Updated] How Long Is a Video at 20 Megabits?</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-in-2024-bio-essentials-the-ultimate-guide-to-crafting-impactful-social-media-profiles/"><u>[Updated] In 2024, Bio Essentials  The Ultimate Guide to Crafting Impactful Social Media Profiles</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-in-2024-ignite-facebook-frenzy-key-techniques-unveiled/"><u>[Updated] In 2024, Ignite Facebook Frenzy  Key Techniques Unveiled</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-in-2024-picturing-perfect-profile-visions/"><u>[Updated] In 2024, Picturing Perfect Profile Visions</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-in-2024-transform-your-video-cover-image-with-easy-steps/"><u>[Updated] In 2024, Transform Your Video Cover Image with Easy Steps</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-navigating-through-challenges-with-non-functional-fb-video-share-for-2024/"><u>[Updated] Navigating Through Challenges with Non-Functional FB Video Share for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-optimizing-posts-secrets-to-higher-page-rank/"><u>[Updated] Optimizing Posts  Secrets to Higher Page Rank</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-reach-optimal-timestamp-in-fb-posting-for-2024/"><u>[Updated] Reach Optimal Timestamp in Fb Posting for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-revolutionize-facebook-ads-creative-video-tactics-revealed/"><u>[Updated] Revolutionize Facebook Ads  Creative Video Tactics Revealed</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-the-top-12-tactics-to-fix-and-make-your-vids-appear-on-fb-today-for-2024/"><u>[Updated] The Top 12 Tactics to Fix and Make Your Vids Appear on FB Today for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/updated-virtual-venue-video-capturer-for-2024/"><u>[Updated] Virtual Venue Video Capturer for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/2024-approved-maximize-video-impact-with-full-screen-settings/"><u>2024 Approved  Maximize Video Impact with Full-Screen Settings</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/2024-approved-navigating-through-fb-content-on-your-apple-media-hub/"><u>2024 Approved  Navigating Through FB Content on Your Apple Media Hub</u></a></li>
<li><a href="https://extra-approaches.techidaily.com/2024-approved-peak-psd-opacity-adjustments/"><u>2024 Approved  Peak PSD Opacity Adjustments</u></a></li>
<li><a href="https://phone-solutions.techidaily.com/easy-steps-to-recover-deleted-music-from-nokia-c12-plus-by-fonelab-android-recover-music/"><u>Easy steps to recover deleted music from Nokia C12 Plus</u></a></li>
<li><a href="https://tech-hub.techidaily.com/engage-with-cutting-edge-chatbots-available-directly-from-google-play-store-for-android-users/"><u>Engage With Cutting-Edge Chatbots – Available Directly From Google Play Store for Android Users</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/facebook-decoding-the-new-era-of-bite-sized-videos/"><u>Facebook   Decoding the New Era of Bite-Sized Videos</u></a></li>
<li><a href="https://mondly-stories.techidaily.com/from-down-under-to-yours-learn-aussie-sayings/"><u>From Down Under to Yours: Learn Aussie Sayings</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/how-to-bring-past-videos-into-the-present-on-social-media-platforms/"><u>How to Bring Past Videos Into the Present on Social Media Platforms</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/in-2024-building-a-brand-the-art-of-creating-attention-grabbing-reels-on-social-media/"><u>In 2024, Building a Brand  The Art of Creating Attention-Grabbing Reels on Social Media</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/in-2024-from-panoramas-to-pages-uploading-wide-angle-content-online/"><u>In 2024, From Panoramas to Pages  Uploading Wide Angle Content Online</u></a></li>
<li><a href="https://change-location.techidaily.com/in-2024-here-are-some-reliable-ways-to-get-pokemon-go-friend-codes-for-vivo-g2-drfone-by-drfone-virtual-android/"><u>In 2024, Here Are Some Reliable Ways to Get Pokemon Go Friend Codes For Vivo G2 | Dr.fone</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/in-2024-mastering-the-art-of-autoplay-videos/"><u>In 2024, Mastering the Art of Autoplay Videos</u></a></li>
<li><a href="https://on-screen-recording.techidaily.com/in-2024-pitch-preservation-recording-sounds-and-voices/"><u>In 2024, Pitch Preservation  Recording Sounds & Voices</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/in-2024-unlocking-facebooks-potential-with-top-video-strategies/"><u>In 2024, Unlocking Facebook's Potential with Top Video Strategies</u></a></li>
<li><a href="https://video-ai-editor.techidaily.com/new-in-2024-the-best-imovie-alternative-for-windows-10-free-and-paid/"><u>New In 2024, The Best iMovie Alternative for Windows 10 Free & Paid</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/professional-fb-cover-setups-to-skyrocket-engagement/"><u>Professional FB Cover Setups to Skyrocket Engagement</u></a></li>
<li><a href="https://fox-blue.techidaily.com/ranked-list-of-pristine-cost-free-websites-for-designers-delight/"><u>Ranked List of Pristine, Cost-Free Websites for Designers' Delight</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/stream-powerhouse-connect-twitch-to-facebook-followers/"><u>Stream Powerhouse  Connect Twitch to Facebook Followers</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/unlock-potential-a-101-step-guide-to-crafting-exceptional-bios-on-facebook/"><u>Unlock Potential  A 101-Step Guide to Crafting Exceptional Bios on Facebook</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/unlocking-real-time-sharing-streaming-old-video-to-facebook-audiences/"><u>Unlocking Real-Time Sharing  Streaming Old Video to Facebook Audiences</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/unveiling-the-secrets-of-facebook-story-filming-and-editing/"><u>Unveiling the Secrets of Facebook Story Filming and Editing</u></a></li>
</ul></div>

<ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-7571918770474297"
      data-ad-slot="8358498916"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>